{% block content -%}
<div id="statement" style="margin:0 auto; width: 1000px;">
    <h1>Site Terms</h1>


    <p><b>Acceptance of Terms</b></p>
    <p>By accessing this Website, you acknowledge that you have read, understood and agreed to the following terms. In
        case you do not understand or agree to any of the terms, you should immediately exit this Website. openEuler
        community and/or its management entity (collectively " openEuler community") reserves the right to update these
        site terms at any time without notice to you. In the case of any violation against the provisions of these site
        terms, openEuler community shall have the right to seek legal and fair remedies.</p>

    <p><b>Our Website Content</b></p>
    <p>The Website Contents include but are not limited to text, images, data, points of views, suggestions, web pages,
        and links offered on or through the Website. This Website and its contents are provided for your convenience
        only. Although openEuler community has attempted to provide accurate information on this Website, it assumes no
        obligation or responsibility whatsoever regarding the accuracy and completeness of the information. openEuler
        community may change the contents available on this Website or the products mentioned at any time and without
        notice.</p>

    <p>ALL INFORMATION PROVIDED ON THIS WEBSITE IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES, GUARANTEES OR
        REPRESENTATIONS OF ANY KIND. OPENEULER COMMUNITY HEREBY EXPRESSLY DISCLAIMS, TO THE FULLEST EXTENT PERMITTED BY
        LAW, ALL EXPRESS, IMPLIED, STATUTORY OR OTHER WARRANTIES, GUARANTEES OR REPRESENTATIONS, INCLUDING BUT NOT
        LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.
    </p>

    <p><b>Software Content</b></p>
    <p>The source code for this Website was contributed by Idan Kamara and other contributors, which is licensed under
        GPL-3.0 License, and can be accessed through <a
            href="https://github.com/idank/explainshell">https://github.com/idank/explainshell</a>.
    </p>
    <p>openEuler community or its licensors own and retain all rights, including all applicable intellectual property
        rights, in all software on this website, in both source and binary forms, sample code, APIs, SDKs, associated
        documentation, and other related materials (collectively, "Software Content").</p>
    <p>Unless you have obtained relevant license through other agreements entered between you and openEuler community,
        nothing in these site terms grants any right or license to Software Content to you, and you shall not:</p>
    <ul>
        <li><p>reverse engineer, decompile, disassemble, split, adapt, implant, or implement other derivative works on the
            Software Content; and/or</p></li>
        <li><p>disclose results of any benchmark tests.</p></li>
    </ul>

    <p><b>Your Use of this Website</b></p>
    <p>You shall not use this Website and/or the Website Content for any purpose that is illegal or forbidden by these
        site terms, in connection with any illegal purposes, or to solicit the performance of any illegal activity or
        activities that infringe on the rights of openEuler community or any third party.</p>
    <p>You shall not gain unauthorized access to any portion of this Website, or to any of the services offered on or
        through the Website, or to any other systems or networks connected to any openEuler community server.</p>
    <p>You shall not take any action that will place an excessive load on this Website, including but not limited to its
        infrastructure, systems, and networks.</p>
    <p>You shall not obtain, or attempt to obtain, any Website Content through any means not purposely available through
        this Website or use any manual or automatic process, device, program, algorithm, or methods to access, obtain,
        copy, or monitor any portion or content of this Website.</p>
    <p>You shall not test by scanning or other means the vulnerability of this Website or any networks connected to this
        Website, nor breach the security or authentication measures of this Website and the services offered on or
        through this Website. You shall not reverse lookup, trace, or attempt to trace any information of any other
        users or visitors of openEuler community or this Website, or exploit or reveal any information or services
        offered on or through this Website.</p>
    <p>You shall not interfere with or attempt to interfere with the proper operation of this Website and other person's
        use of this Website by any means, including but not limited to using any device, software, or program.</p>
    <p>When using this Website and its content, you agree to comply with applicable laws and obey social ethics. You
        shall not use this Website and its content to produce, read, copy, or disseminate any information that is
        illegal, to infringe on any other person's rights, or to disturb the social order and undermine social
        stability. You shall not use this Website and its content to engage in any activity that endangers cyber
        security and any computer system.</p>

    <p><b>Links to Third Parties</b></p>
    <p>Although links to third party Websites may be contained in this Website for your convenience, openEuler community
        shall not be responsible for any content of any such Websites. You might need to review and agree to applicable
        rules of use when using such Websites. In addition, a link to third-party Website does not imply that openEuler
        community endorses the site or the products or services referenced therein.</p>

    <p><b>Limitation of Liability</b></p>
    <p>Neither openEuler community nor any of its management entity or other representatives shall be liable for any
        indirect, special, incidental, consequential, punitive, and/or exemplary damages including without limitation,
        loss of profits or revenues, loss of data, and/or loss of business, in connection with this Website or the use
        of or inability to use this Website or reliance on the contents contained herein, even if openEuler community is
        advised of the possibility of such damages. To the extent permitted by the applicable law, openEuler community
        shall not be liable for the materials of this Website, regardless of the reason of the liability or the tort
        theory it based on.</p>

    <p><b>Applicable Law and Dispute Resolution</b></p>
    <p>You agree that your access and all related activities on or through this Website shall be governed by, construed,
        and interpreted in accordance with the laws of the People's Republic of China. You agree that any dispute
        between the parties arising out of or in connection with these site terms or your access and all related
        activities on or through this Website shall be governed by a court with jurisdiction in Shenzhen, Guangdong
        Province of the People's Republic of China.</p><br/><br/>



    <h1>法律声明</h1>


    <p><b>规则及网址访问条件</b></p>
    <p>访问本网站，即表示您已阅读、理解并同意以下条款。如果您不理解或同意任何条款，您应立即退出本网站。openEuler社区和/或其管理实体（统称“openEuler社区”）保留随时更新这些网站条款的权利，恕不另行通知。如果有任何违反本网站条款规定的行为，openEuler社区有权采取法律和公平的补救措施。
    </p>

    <p><b>网站内容</b></p>
    <p>本网站所载的材料和信息，包括但不限于文本、图片、数据、观点、建议、网页或链接，虽然openEuler社区力图在网站上提供准确的材料和信息，但openEuler社区并不保证这些材料和内容的准确、完整、充分和可靠性，并且明确声明不对这些材料和内容的错误或遗漏承担责任，也不对这些材料和内容作出任何明示或默示的、包括但不限于有关所有权担保、没有侵犯第三方权利、质量和没有计算机病毒的保证。
    </p>
    <p>openEuler社区可以在没有任何通知或提示的情况下随时对网站上的内容进行修改，为了得到最新版本的信息，您可以定时访问本网站。</p>

    <p></p><b>软件内容</b></p>
    <p>本网站的源代码由Idan Kamara及其它贡献者贡献，基于GPL-3.0协议许可，您可以通过https://github.com/idank/explainshell访问该网站的源代码。</p>
    <p>本网站所载的所有源代码和二进制形式的软件、示例代码、API、SDK、相关文档和其他相关材料（统称“软件”）的所有权，包括所适用的知识产权归openEuler社区或其许可方所有。本网站使用条款不就软件提供任何形式的许可，您不得对软件进行反向工程、反编译、反汇编、拆解、改编、植入或其他派生操作，也不得披露任何软件性能测试的结果。
    </p>

    <p></p><b>您对本网站的使用</b></p>
    <p>您不得出于任何非法或本使用条款禁止的目的使用本网站和/或其包含的任何内容，不得将本网站和/或其包含的任何内容用于任何非法用途，也不得唆使任何非法活动或其他侵犯openEuler社区或他人权利的活动。</p>
    <p>您不得以任何非法方式，在未经授权的情况下访问本网站及其任何部分，或接受通过本网站提供的任何服务，或连接到openEuler社区服务器的任何其他系统或网络。</p>
    <p>您同意不会采取任何会对本网站及其相关的架构、系统、网络带来不合理或不成比例的高负载的行为。</p>
    <p>您不得通过本网站未提供的方式获取或试图获取本网站的任何内容，亦不得使用任何自动或手动的流程、抓取设备、程序、算法或方法，来访问、获取、拷贝或监控本网站的任何组成部分或内容。</p>
    <p>您不得以扫描等方式测试本网站和/或其网络是否存在漏洞，亦不得破坏网站及其服务所采用的安全或身份验证措施。您不得反向搜索、跟踪或试图跟踪有关本网站的任何其他用户或访客的任何信息；亦不得以任何方式滥用或泄露网站内的任何服务或信息。
    </p>
    <p>您不得以任何方式（包括但不限于使用任何设备、软件或程序）干扰或试图干扰本网站的正常运作及其他人对本网站的正常使用。</p>
    <p>您同意在使用本网站及其内容时，遵守国家法律法规、社会公共道德。您不得利用本网站及其内容从事制作、查阅、复制和传播任何违法、侵犯他人权益等扰乱社会秩序、破坏社会稳定的行为，亦不得利用本网站及其内容从事任何危害或试图危害计算机系统及网络安全的活动。
    </p>

    <p></p><b>第三方链接</b></p>
    <p>本网站可能保留有与第三方网站或网址的链接，访问这些链接将由用户自己作出决定，openEuler社区并不保证这些链接上所提供的任何信息、数据、观点、图片、陈述或建议的准确性、完整性、充分性和可靠性。openEuler社区提供这些链接仅仅在于提供方便，并不表示openEuler社区对这些信息的认可和推荐，也不是用于宣传或广告目的。
    </p>

    <p></p><b>免责声明</b></p>
    <p>openEuler社区不应对间接、附带、特殊或任何形式的惩罚性赔偿承担任何责任，也不应对任何利润、收入、数据、数据使用的损失承担任何责任。在适用法允许的范围内，openEuler社区不对本网站的“资料”承担任何责任，不论该责任因何原因引起或者基于何种侵权理论。
    </p>

    <p></p><b>适用法律与争议解决</b></p>
    <p>您同意，与您访问或使用本网站相关的所有事项，应根据中华人民共和国法律解释、理解和管辖。您同意，中国广东省深圳市有管辖权的法院具有相关的管辖权。</p>
</div>
{%- endblock %}
